body {
    font-family: Arial, sans-serif;
    margin: 40px;

    background: #242222;
    color: white;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 12px;
    background-color: #3b3b3b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #201f1fd6;
}

th {
    background-color: #242424;
}

pre {
    background: #f0f0f0;
    padding: 1rem;
    overflow: auto;
    max-height: 500px;
    color: black;
}

button {
    padding: 10px 20px;
    background: #525252;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

button:hover {
    background: #ffffff;
    color: #242222;
}

a {
    color: #00ddff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
